<nav>
  <img src="../assets/img/img-loren.svg" alt="mon compte" input type="button" routerLink="/reglage" class="moncompte" />
  <div class="one">
    <p>Bonjour {{myAuthServ.currentUser?.firstName}}</p>
    <a type="button" (click)="logoutClick()">Se déconnecter</a>
  </div>
  <div class="two">
    <img src="../assets/img/search-2.svg" alt="search" input type="button" routerLink="/map" class="iconsearch" />
    <img src="../assets/img/email-2.svg" alt="mail" input type="button" routerLink="/mail" class="iconmail" />
  </div>
</nav>

<div class="milieu">

  <div class="left-bar">
    <!-- {{this.imageUrl._id}} -->
    <img src="../assets/img/img-jenny.svg" alt="photo" />

    <p class="name">{{userItem?.firstName}} {{userItem?.lastName}}</p>
    <p class="ageVille">{{userItem?.birthday}} ans, {{userItem?.location}}</p>
  </div>

  <div class="right-bar">
    <span *ngIf="myAuthServ.currentUser">
      <div class="item0">
        <p>{{userItem?.comments}}</p>
      </div>
      <div class="item1">
        <img src="../assets/img/timer-full-2.svg" alt="chrono" />
        <p>{{userItem?.speed}} min/km</p>
      </div>
      <div class="item2">
        <img src="../assets/img/ic_directions_run_48px.svg" height="50px" width="24px" alt="run" />
        <p>{{userItem?.description}}</p>
      </div>
      <div class="item3">
        <img src="../assets/img/calendar-2.svg" alt="planning" />
        <p>{{userItem?.availability}}</p>
      </div>
      <div class="item4">
        <img src="../assets/img/watch-2.svg" alt="flexibility" />
        <p>{{userItem?.flexibility}}</p>
      </div>
      <div class="item5">
        <input type="submit" class="send" [routerLink]="['/mail', 999 ]" value="Envoyer un message" />
      </div>
    </span>
  </div>


</div>

<footer>
  <p class="fin">Made with ENERGY @ Ironhack Paris</p>
</footer>