<button type="button" class="btn btn-info" routerLink="/home-page">Accueil</button>

<h2>Profil User</h2>

<p>{{this.imageUrl._id}}</p>
<img src="/running-women-frontend/img/myAvatar1.png" alt="avatar" class="rounded-circle">
<p>Melanie Netendoenmarche{{this.firstName._id}} {{this.lastName._id}}</p>
<p>30 ans{{this.age._id}}</p>
<p>Paris, France{{this.location._id}}</p>
<p>4'30/km{{this.speed._id}}</p>
<p>Disponible les week-ends{{this.available._id}}</p>
<p>Flexible sur les horaires: O/N{{this.flexibility._id}}</p>
<p>Commentaires / description : 💬{{this.comments._id}}</p>

<button type="button" class="btn btn-info" routerLink="mail/:blahId">Envoyer une demande</button>
<button type="button" class="btn btn-info" routerLink="mail/:blahId">Envoyer un message</button>