<nav>
  <img src="../assets/img/img-loren.svg" alt="mon compte" input type="button" routerLink="/reglage" class="moncompte" />
  <div class="one">
  <p class="bonjour">Bonjour {{myAuthServ.currentUser?.firstName}}</p>
  <a type="button" (click)="logoutClick()">Se déconnecter</a>
</div>
<div class="two">
  <!-- <img src="../assets/img/search-2.svg" alt="search" input type="button" routerLink="#" class="iconsearch" /> -->
  <img src="../assets/img/email-2.svg" alt="mail" input type="button" routerLink="/mail" class="iconmail" />
  <img src="../assets/img/home-1.svg" alt="home" input type="button" routerLink="/reglage" class="iconhome" />
</div>
</nav>

<div class="milieu">
  <div class="logo">
    <img src="../assets/img/logo-pink.svg" alt="logo" />
  </div>

  <p class="autour">Autour de moi</p>

  <p class="lieu">{{myAuthServ.currentUser?.location}}</p>

  <form class="form-inline" (ngSubmit)="setCenter()">
    <div #gmap style="width:70%;height:330px" class="center"></div>
    <input #address type="text" class="form-control" placeholder="Chercher un autre lieux" />
    <button type="submit" class="go">Go</button>
  </form>
</div>

<footer>
  <p class="fin">Made with ENERGY @ Ironhack Paris</p>
</footer>

<!-- Ggle Maps -->
<!-- <div class="form-group">
  <input type="text" class="form-control" name="latitude" [(ngModel)]="latitude" placeholder="Enter latitude" required>
</div>
<div class="form-group"> -->
<!-- <input type="text" class="form-control" name="longitude" [(ngModel)]="longitude" placeholder="Enter longitude" required> -->
<!-- </div> -->
<!-- <button type="submit" class="btn btn-primary">Go</button> -->
<!-- <button (click)="setMapType('terrain')">Terrain</button>
  <button (click)="setMapType('satellite')">Satellite</button>
      <!-- <span *ngIf="!myAuthServ.currentUser">
        <button type="button" routerLink="">Accueil</button>
      </span> -->
<!-- <span *ngIf="myAuthServ.currentUser"> -->
<!-- </span> -->
<!-- <button type="button" routerLink="/home-page">Accueil</button> -->
<!-- <img src="../assets/img/home-1.svg" alt="home" input type="button" routerLink="" class="icon" /> -->
<!-- <button (click)="setMapType('roadmap')">Road Map</button> -->