<nav>

    <span *ngIf="!myAuthServ.currentUser">
        <button type="button" class="btn btn-info" routerLink="/map">Carte</button>
    </span>

    <span *ngIf="myAuthServ.currentUser">
        <button type="button" class="btn btn-info" routerLink="/map">Carte</button>
        <button type="button" class="btn btn-info" routerLink="/profil">Profils des autres coureuses</button>
        <button type="button" class="btn btn-info" routerLink="/mail">Messagerie</button>
        <button type="button" class="btn btn-info" routerLink="/reglage">Mon compte</button>
    </span>

</nav>

    <div style="text-align:center">

        <h1>Wonder Who Run 🏃‍</h1>
    </div>

    <span *ngIf="myAuthServ.currentUser">
            <h4>{{myAuthServ.currentUser.firstName}} {{myAuthServ.currentUser.lastName}}</h4>
            <button (click)="logoutClick()">Se déconnecter</button>
            </span>