<nav>
  <img src="../assets/img/logo-white.svg" alt="logoWhite"/>
  <!-- <input type="button" class="connect" value="Me connecter" /> -->
  <button type="submit" class="connect">Me connecter</button>
</nav>

<div class="milieu">

  <div class="left-bar">
    <h2 style="color: #FF6670">WONDER WHO RUN</h2>
    <b><p class="copine">Trouve des copines pour courir.</p></b>
    <form style="height: 335px;" name="myform" (ngSubmit)="loginSubmit()" novalidate>
      <b><p class="seconnecter"> Se connecter</p></b>
      <input [(ngModel)]="loginForm.email" name="email" type="text" class="champ" placeholder="Email" required />
      <br/>
      <input [(ngModel)]="loginForm.loginPassword" name="loginpassword" type="password" class="champ" placeholder="Mot de passe" required />
      <br/>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom: 15px"><a class="remember">Se souvenir de moi</a>
      <a class="remember" routerLink="/forgot-password">Mot de passe oublié ?</a>
      <br/>
      <input type="submit" class="go" value="GO !" />
      <!-- <button type="submit" class="go">GO !</button> -->

      <br/>
      <p class="nouvelle">Tu es nouvelle sur Whonder Who Run ?</p>
      <!-- <input type="button" class="inscristoi" routerLink="/signup" value="INSCRIS-TOI !"/> -->
      <button type="submit" class="inscristoi"routerLink="/signup">INSCRIS-TOI !</button>
      <br/>
    </form>
  </div>

  <div class="right-bar">
    <img src="../assets/img/img-wonderwoman.svg" alt="Wonder women run" />
  </div>

</div>

<footer>
    <p class="fin">Made with ENERGY @ Ironhack Paris</p>
</footer>