<nav style="text-align: center">

  <h1>Wonder Who Run</h1>

  <a routerLink="/map">
    <button><img src="../assets/img/wondergirl-thumb.jpg"/></button>
  </a>


</nav>


<form name="myform" (ngSubmit)="loginSubmit()" novalidate>

  <div class="login">
    <label>E-mail</label>
    <input [(ngModel)]="loginForm.email" name="email" type="text" placeholder="sandy@killow.com" required />
    <br />
    <label>Mot de passe</label>
    <input [(ngModel)]="loginForm.loginPassword" name="loginpassword" type="password" placeholder="***" required />
    <br />
    <!-- <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom: 15px">Se souvenir de moi</label>
    </label> -->
  </div>

  <div style="text-align: center">
    <input type="submit" value="Se connecter" />
    <br/>
    <a routerLink="/signup">S'inscrire</a>
    <br />
    <a routerLink="/forgot-password">Mot de passe oublié ?</a>
  </div>
</form>
