<nav>
  <button type="button" class="btn btn-info" routerLink="">Accueil</button>
  <button type="button" class="btn btn-info" routerLink="/maps">Carte des coureuses</button>
</nav>


<p>{{this.imageUrl._id}}</p>
<!-- <img src="{{imageAvatar}}"alt="avatar"/> -->
<p>Melanie Netendoenmarche{{this.firstName._id}} {{this.lastName._id}}</p>
<p>30 ans{{this.age._id}}</p>
<p>Paris, France{{this.location._id}}</p>
<p>4'30/km{{this.speed._id}}</p>
<p>Disponible les week-ends{{this.available._id}}</p>
<p>Flexible sur les horaires: O/N{{this.flexibility._id}}</p>
<!-- {{this.comments._id}} -->

<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Comments / description</div>
        <div class="card-body">
         <!-- <h5 class="card-title">Info card title</h5> -->
          <p class="card-text">I prefer run to forest or parc .........................................................</p>
        </div>
      </div>