<nav>
  <button type="button" class="btn btn-info" routerLink="/home-page">Accueil</button>
  <button type="button" class="btn btn-info" routerLink="/map">Carte des coureuses</button>
</nav>

<div style="text-align: center">

  <h1>Mon compte</h1>

<!-- file upload photo -->
<span *ngIf="myAuthServ.currentUser">
  <h4>{{myAuthServ.currentUser.firstName}} {{myAuthServ.currentUser.lastName}}</h4>
  <h4>{{myAuthServ.currentUser.email}}</h4>
  <h4>{{myAuthServ.currentUser.birthday}}</h4>
  <h4>{{myAuthServ.currentUser.location}}</h4>
  <h4>{{myAuthServ.currentUser.speed}} min/km</h4>
  <h4>{{myAuthServ.currentUser.availability}}</h4>
  <h4>{{myAuthServ.currentUser.description}}</h4>



  <button (click)="logoutClick()">Se déconnecter</button>
</span>

</div>