nav {
    background-color: #ff6670;
    color: #fafafa;
    text-align: start;
    padding-left: 1%;
    margin: 0;
    font-weight: bold;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    clear: both;
  }

// .left-bar{
//     float: left;
//     height: 390px;
//     padding-top: 10px;
//     width: 20%;
// }

.main-bar{
    float: left;
    // height: 590px;
    // padding-top: 10px;
    //  margin: 0 1%;
     width: 48%;

}

.right-bar{
    order: 2;
    float: left;
    height: 390px;
    padding-top: 20px;
    width: 30%;
}

.moncompte{
    width: 105px;
    padding-left: 160px;
  }

  .bonjour{
    margin-top: 14px;
    margin-bottom: 7px;
  }

  .iconsearch{
    margin-right: 30px;
    padding-left: 80px;
  }

  .milieu {
    height: 482px;
    background-color: #fafafa;
    padding-left: 205px
}

h2{
    color: #ff6670;
    margin-left: 90px;
    margin-top: 45px;
}

.mail{
    width: 700px;
    height: auto;
    border-radius: 24px;
    border: solid 1px #3DC7CC;
    margin-left: 90px;
    margin-top: 35px;
}

.boutons{
    margin-left: 515px;
    margin-top: 25px;
}

.repondre{
    text-align: center;
    border-radius: 20px;
    color: #FAFAFA;
    background-color: #FF6670;
    border-color: #FAFAFA;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border: solid 1px #FAFAFA;
    height: 35px;
    width: 129px;
    margin-right: 2%;
    margin-top: 2%;
}

.delete{
    text-align: center;
    border-radius: 20px;
    color: #FAFAFA;
    background-color: #9B9B9B;
    border-color: #FAFAFA;
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border: solid 1px #FAFAFA;
    height: 35px;
    width: 129px;
    margin-right: 2%;
    margin-top: 2%;
}