nav {
  background-color: #ff6670;
  color: #fafafa;
  text-align: start;
  padding-left: 3%;
  margin: 0;
  font-weight: bold;
  height: 70px;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  clear: both;
}

.close {
  width: 30px;
  height: 65px;
  margin-right: 60px;
  //   object-fit: contain;
}

.sinscrire {
  text-align: center;
  margin: 10px;
  font-family: Cabin;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fc6467;
}

.reserve {
  text-align: center;
  height: 40px;
  font-family: Cabin;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3dc7cc;
}

.milieu {
  text-align: center;
  height: 510px;
  background-color: #fafafa;
}

.signup {
  text-align: center;
  width: 370px;
  height: 35px;
  border-radius: 24px;
  border: solid 1px #fc6467;
  margin-top: 10px;
}

.btninscription {
  text-align: center;
  border-radius: 20px;
  color: #fafafa;
  background-color: #ff6670;
  border-color: #fafafa;
  border: solid 1px #fafafa;
  width: 370px;
  height: 35px;
  margin-top: 20px;
}

.ret {
  margin-top: 37px;
  text-decoration: underline;
  font-family: Cabin;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #9b9b9b;
}
