<nav>
  <img src="../assets/img/logo-white.svg" alt="logoWhite" />
  <img src="../assets/img/ic_close_24px.svg" alt="close" input type="button" routerLink="" class="close" />
</nav>

<div class="milieu">

<div class="sinscrire">S'inscrire</div>

<div class="reserve">Whonder Who Run est un service réservé aux femmes</div>

<form name="myForm" (ngSubmit)="signupSubmit()">
  <input [(ngModel)]="signupForm.firstName" name="firstName" type="text" class="signup" placeholder="Prénom" />
  <br />
  <input [(ngModel)]="signupForm.lastName" name="lastName" type="text" class="signup" placeholder="Nom" />
  <br />
  <input [(ngModel)]="signupForm.birthday" name="birthday" class="signup" type="date" placeholder="Date de naissance" />
  <br />
  <input #address id="user_input_autocomplete_address" name="location" class="signup" placeholder="Votre adresse.." type="object"
  />
  <br />
  <input [(ngModel)]="signupForm.email" name="email" type="email" class="signup" placeholder="email" />
  <br />
  <input [(ngModel)]="signupForm.originalPassword" name="originalPassword" type="password" class="signup" placeholder="Mot de passe"
  />
  <br />
  <!-- <label>
    Répeter le mot de passe:
    <input [(ngModel)]="signupForm.originalPassword" name="originalPassword-repeat" type="password" placeholder="***********" />
  </label>
  <br /> -->
  <input type="submit" class="btninscription" value="S'inscrire" />
  <p class="ret" routerLink="">Revenir à la page d'accueil</p>
</form>

</div>

<footer>
  <p class="fin">Made with ENERGY @ Ironhack Paris</p>
</footer>