<nav>
  <img src="../assets/img/logo-white.svg" alt="logoWhite" />
  <img src="../assets/img/ic_close_24px.svg" alt="close" input type="button" routerLink="" class="close" />
</nav>


<div class="sinscrire">
<h2>Entrez votre e-mail : </h2>

<form>

  <div class="formail">

    <input [(ngModel)]="forgotForm.email" name="email" type="email" class="signup" placeholder="E-mail" />

</div>

  <button type="button" class="btninscription" routerLink="">Réinitialiser le mot de passe</button>
  <p class="ret" routerLink="">Revenir à la page d'accueil</p>
</form>

</div>


<footer>
  <p class="fin">Made with ENERGY @ Ironhack Paris</p>
</footer>