/* You can add global styles to this file, and also import other style files */
body{
    font-family: Cabin;
    // font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    background-color: #FAFAFA;
    margin: 0;
    // width: 100vw;
    // height: 100vh;
}

footer{
    justify-content: center;
    text-align: center;
    background-color: #FF6670;
    color: white;
    clear: both;
    height: 30px;
    padding-top: 0px;
    margin: 0px;
}

.fin{
    display: flex;
    justify-content: center;
}